<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppFrame.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C71BDCDA22F187DB00B504F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C71BDCF222F187DC00B504F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C71BDCFD22F187DC00B504F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
